@charset "utf-8";
/* CSS Document */

body {
	background-color: #380050;
}

.header-div {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: whitesmoke;
	font-size: 16px;
	margin: 10px;
	padding: 8px;
}

.header-link {
	margin: 20px;
}

.header-link:hover {
	background-image: linear-gradient(to bottom right, rgb(76,0,128), rgb(204,0,204));
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 12px;
	margin-left: 16px;
	margin-right: 16px;
	border-radius: 24px;
	font-size: 18px;
}

.nav-image {
	text-align: end;
	color: lightblue;
	width: 100%;
	margin-top: 18px;
}

.avatar {
	height: 300px;
	width: 300px;
	margin: 18px;
	background-color: floralwhite;
	border-radius: 50%;
	float: right;
	text-align: end;
}

.avatar:hover {
	box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 8px rgba(0, 0, 0, 0.19);
}

.nav-all {
	margin-left: 80px;
}

.introduction {
	text-align: start;
	font-size: 36px;
	display: inline-block;
	padding-top: 18px;
}

h2 {
	color: white;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

h1 {
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.myname {
	text-align: start;
	font-size: 84px;
	color: white;
}

.mytalent {
	font-size: 18px;
	color: #DBAFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.consult {
	color: white;
	background-image: linear-gradient(to right, rgb(76,0,128), rgb(153,0,153));
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 52px;
	padding-left: 52px;
	border-radius: 24px;
	font-size: 16px;
}

.consult:hover {
	color: white;
	background-image: linear-gradient(to right, rgb(153,0,153), rgb(153, 102, 255));
	font-size: 18px;
}

.dot {
	height: 8px;
	width: 8px;
	background-color: #00FF10;
	border-radius: 50%;
	display: inline-block;
	margin-left: 24px;
}

.available {
	color: white;
	font-size: 14px;
	display: contents;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

section {
	text-align: start;
	padding-top: 100px;
}

.font {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.small-prg {
	color: #4F4F4F;
	padding-bottom: 20px;
}

.title {
	font-size: 36px;
	color: black;
}











